
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4 content-block">
            <p id="section-join"><%= overview %></p>
        </div>
    </div>
</div>

<div class="banner">
    <div class="banner-img" role="presentation" style="background: url(<%= banner %>) no-repeat center center; background-size: cover;"></div>
    <div class="container overlay">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 inverted" style="opacity: .85">
                <p class="main-image"><strong><%= tagline %></strong> <%= description %></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4 content-block2">
            <p>Being able to see the dust blowing in the wind has broad implications. Today, one in eight people in the world dies from exposure to air pollution, which includes dust. This stunning fact, issued by the World Health Organization in March 2014, adds up to <a href="http://www.who.int/mediacentre/news/releases/2014/air-pollution/en/">7 million premature deaths per year</a>. Air pollution is now the single largest environmental risk to human health in the world, and it occurs both indoors and outdoors.</p>
            <p>The DustDuino measures both PM10 and PM2.5 by utilizing an optical sensor, the Grove Dust Sensor aka the  Shenyei PPD42NS. The construction of the sensor includes an infrared LED, a focusing lens, and a photodiode to determine the concentration of dust in a partially closed chamber that draws in air from its surroundings. A detailed description of how and why to use the DustDuino is available on <a href="http://publiclab.org/wiki/dustduino">PublicLab.org</a> where you can share open-source air quality research with a community of dust busters.  </p>
            <p>Click on the following links for more on information on the project's <a href="http://earthjournalism.net/projects/citizen-science-sensors">origins</a>, <a href="http://dustduino.org/">code</a>, and <a href="http://geojournalism.org/tracks/environmental-sensors/">documentation.</a></p>
        </div>
    </div>
    <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'pt', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_RIGHT, autoDisplay: false, gaTrack: true, gaId: 'UA-65976828-2'}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
