<div class="container report">
    <div class="row align-bottom-container">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 pop-chart">
            <h3 class="sensor-number tooltip-sensor-name"><%= sensor_name %></h3>

            <% if (description) { %>
            <p class="sensor-location"><strong>Location: </strong><%= description %></p>
            <% } %>

            <% if (!geocoded) { %>
            <p><strong>Warning: </strong>Location data is missing for this sensor.</p>
            <% } %>

            <div class="mask" id="report-chart"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="co-sm-12 col-lg-10 col-lg-offset-1">
            <div id="report-table"></div>
        </div>
    </div>
    <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'pt', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_RIGHT, autoDisplay: false, gaTrack: true, gaId: 'UA-65976828-2'}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

